<ion-content>
    <ion-content>
  <ion-tabs>
    <!-- Pestaña Unirse a viaje -->
    <ion-tab tab="home">
      <ion-header>
        <ion-toolbar>
          <ion-title>Unirse a viaje</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <!-- Selector de filtro -->
        <ion-segment [(ngModel)]="sortBy" (ionChange)="applyFilter()">
          <ion-segment-button value="precio">Precio</ion-segment-button>
          <ion-segment-button value="espacio">Espacio</ion-segment-button>
          <ion-segment-button value="disponibles">Disponibles</ion-segment-button>
          <ion-segment-button value="cercania">Cercanía</ion-segment-button>
        </ion-segment>

        <!-- Lista de viajes -->
        <ion-list>
          <ion-item *ngFor="let viaje of filteredViajes" (click)="openViajeDetail(viaje)">
            <ion-label>
              <h2>{{ viaje.vehiculo }} - {{ viaje.patente }}</h2>
              <p>Precio: {{ viaje.price }} | Espacios: {{ viaje.espacio }}</p>
            </ion-label>
            <ion-button slot="end" (click)="joinViaje(viaje); $event.stopPropagation()">Unirse</ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <!-- Pestaña Iniciar un viaje (Formulario) -->
    <ion-tab tab="iniciar-viaje">
      <ion-header>
        <ion-toolbar>
          <ion-title>Iniciar un viaje</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="form-content">
        <form [formGroup]="form" class="form-wrapper ion-padding" (ngSubmit)="submit()" (keypress.enter)="submit()">

  
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <h2>{{ userName }}</h2>
          </ion-item>

          <!-- Campo Vehículo -->
          <ion-item>
            <ion-label position="floating">Vehículo</ion-label>
            <ion-input type="text" [formControl]="vehiculo" autocomplete="on"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Patente</ion-label>
            <ion-input type="text" [formControl]="patente" autocomplete="on"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Espacio disponible</ion-label>
            <ion-input type="number" [formControl]="espacio"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Precio por persona</ion-label>
            <ion-input type="number" [formControl]="price"></ion-input>
          </ion-item>

          <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
            Iniciar viaje
            <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
          </ion-button>

        </form>
      </ion-content>
    </ion-tab>


    <!-- Pestaña Historial de viajes -->
    <ion-tab tab="historial">
      <ion-header>
        <ion-toolbar>
          <ion-title>Historial de viajes</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <!-- Selector para cambiar entre los apartados de historial -->
        <ion-segment [(ngModel)]="historialSegment">
          <ion-segment-button value="unirse">
            Unirse a viajes
          </ion-segment-button>
          <ion-segment-button value="iniciar">
            Iniciar viajes
          </ion-segment-button>
        </ion-segment>
        
        <ion-list *ngIf="historialSegment === 'unirse'">
          <ion-item *ngFor="let viaje of filteredViajes" (click)="openViajeDetail(viaje)">
            <ion-label>
              <h2>{{ viaje.vehiculo }} - {{ viaje.patente }}</h2>
              <p>Precio: {{ viaje.price }} | Espacios: {{ viaje.espacio }}</p>
            </ion-label>
            <ion-button slot="end" color="primary" fill="outline">
              Ver detalles
            </ion-button>
          </ion-item>
        </ion-list>
        


    
        <!-- Historial de viajes como conductor -->
        <ion-list *ngIf="historialSegment === 'iniciar'">
          <ion-item *ngFor="let viaje of viajesIniciados">
            <ion-label>
              <h2>{{ viaje.vehiculo }} - {{ viaje.patente }}</h2>
              <p>Precio: {{ viaje.price }} | Espacios: {{ viaje.espacio }}</p>
            </ion-label>
            <ion-button slot="end" color="secondary" fill="outline" (click)="verDetalle(viaje)">
              Ver detalles
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <!-- Barra de pestañas inferior -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="car-sport-outline"></ion-icon>
        <ion-label>Unirse a viaje</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="iniciar-viaje">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Iniciar un viaje</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="historial">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>Historial de viajes</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>