/* This style is for demonstration purposes only. */
/* It's not required for the tabs to function. */
.example-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  

  .form-content {
    background-color: #303030; 
  }
  
  .form-wrapper {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 16px; 
    background-color: #292929; 
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }

  #map {
    width: 100%;
    height: 400px; /* O ajusta según el espacio que necesites */
  }
  
  .start-marker, .end-marker {
    width: 30px;
    height: 30px;
    background-size: contain;
  }

  ion-thumbnail img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
  }

  .vehicle-marker {
    font-size: 24px;
  }
  

  .animate-button {
    animation: pulse 1s infinite;
  }

  .custom-alert .alert-message {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff; /* Opcional: Ajustar colores */
  }
  
  .custom-alert {
    --background: #1e1e1e; /* Fondo oscuro */
    --color: #ffffff; /* Texto claro */
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      background-color: #007bff;
    }
    50% {
      transform: scale(1.1);
      background-color: #0056b3;
    }
    100% {
      transform: scale(1);
      background-color: #007bff;
    }
  }
  