<ion-content>
  <ion-tabs>
    <!-- Pestaña Unirse a viaje -->
    <ion-tab tab="unirse">
      <ion-header>
        <ion-toolbar>
          <ion-title>Unirse a un VIAJE</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-segment [(ngModel)]="sortBy" (ionChange)="applyFilter()" class="animated-segment">
          <ion-segment-button value="precio">
            Precio
          </ion-segment-button>
          <ion-segment-button value="espacio">
            Espacio
          </ion-segment-button>
          <ion-segment-button value="disponibles">
            Disponibles
          </ion-segment-button>
        </ion-segment>

        <div class="viajes-container">
          <ion-card class="viaje-card animated-card" *ngFor="let viaje of filteredViajes">
            <ion-card-header>
              <ion-card-title>{{ viaje.vehiculo }} - {{ viaje.patente }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Destino: <strong>{{ viaje.destinoNombre }}</strong></p>
              <p>Precio: <strong>{{ viaje.price }}</strong></p>
              <p>Espacios disponibles: <strong>{{ viaje.espacio }}</strong></p>
            </ion-card-content>
            <ion-button expand="full" color="primary" (click)="joinViaje(viaje)" class="animated-button">
              Unirse
            </ion-button>
          </ion-card>
        </div>
      </ion-content>
    </ion-tab>

    <!-- Pestaña Historial de viajes -->
    <ion-tab tab="historial">
      <ion-header>
        <ion-toolbar>
          <ion-title>Historial de viajes</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div *ngIf="viajesUnidos.length > 0" class="viajes-historial">
          <ion-card class="viaje-card" *ngFor="let viaje of viajesUnidos">
            <ion-card-header>
              <ion-card-title>{{ viaje.vehiculo }} - {{ viaje.patente }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Destino: <strong>{{ viaje.destinoNombre }}</strong></p>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="viajesUnidos.length === 0" class="no-historial">
          <ion-text>No tienes historial de viajes finalizados.</ion-text>
        </div>
      </ion-content>
    </ion-tab>

    <!-- Mapa -->
    <ion-tab tab="Mapa">
      <ion-header>
        <ion-toolbar>
          <ion-title>Ubicación</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div id="map" class="map-container"></div>
      </ion-content>
    </ion-tab>


  

    <!-- Barra de pestañas -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="unirse">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Unirse</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="Mapa">
        <ion-icon name="locate-outline"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="historial">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
